/* Bouton "En savoir plus" */
.description {
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
    padding: 0 20px;
}

#toggleDescription {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px auto;
}

#toggleDescription:hover {
    background-color: #bfb9b9;
}

.hidden {
    display: none;
}

#text-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 5s ease-out;
}

#text-container.expanded {
    max-height: 1000px; 
}

/* Conteneur pour centrer et limiter la largeur */
.car-selection-container {
    max-width: 1000px; /* Même largeur que le texte descriptif */
    margin: 0 auto; /* Centre le conteneur */
}

/* Sélection de voitures */
.car-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.box {
    background-color: var(--dropdown-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.box p {
    margin-top: 15px;
}

.reserve-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 15px;
}

.reserve-button:hover {
    transform: scale(var(--button-hover-scale));
}

